body { margin: 40px 10px; padding: 0; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 14px; } 
#calendar { max-width: 1100px; margin: 0 auto; } 
.fc .fc-toolbar { justify-content: unset; gap: 10px; } 
.fc .fc-button-group { gap: 10px; } 
.fc .fc-button-primary { background: #fff; border: 1px solid #E0E0E0; color: #000; } 
.fc .fc-button-primary:focus { box-shadow: none; } 
.fc .fc-non-business { background: rgb(255, 234, 186); } 
.fc .fc-daygrid-day.fc-day-today { background-color:lightblue; border:2px solid cornflowerblue; } 
.fc-h-event { background-color: lightblue; padding-left: 8px; } 
.fc-h-event .fc-event-main { color: #000; } 
.tippy-box { background: none; } 
.tippy-content { background: #FFF; color: #000; min-width: 300px; box-sizing: border-box; padding: 30px 20px; border-radius: 8px; box-shadow: 0 2px 12px rgb(0 0 0 / 24%); line-height: 24px; font-size: 15px; } 
.tippy-content strong { display: block; font-size: 17px; line-height: 140%; color: #000; } 
.tippy-content p { margin-top: 24px; } 
.tippy-content span { display: block; font-size: 13px; color: #999; } 
.tippy-content pre { white-space: pre-wrap; } 
.tippy-arrow { color: #fff; } 